@charset "utf-8";
body{
 margin:0px;
 padding:0px;
 font-family: cursive;
}

ul{
 list-style:none;
}

a{
 text-decoration:none;
}


nav{
 display: flex;
 justify-content: space-between;
 align-items:center;
 height:70px;
 background-color:#FFFFFF;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 padding:0px 5%;
 
}
nav ul{
 display: flex;
}
 
nav ul li a{
 margin:30px;
 font-family:myriad pro regular;
 color:#505050;
 font-size: 20px;
 font: weight 5px;
}

.logo{
 font-family:RoadTest;
 color:#000000;
 font-size: 22px;
 font-weight: bold;
}

.active{
    color:#000000;
    font-weight:bold;
    font-family: cursive;
   }

button:active{
 transform: scale(1.1);
}
footer p{
 font-family: calibri;
}

footer p:nth-child(1){
 font-size: 30px;
 font-weight:bold;
 color:#FFFFFF;
 line-height:10px;
}

footer p:nth-child(2){
    font-size: 16px;
    color:#7e7d7d;
    width:600px;
    text-align: center;
   }

footer{
 height:300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 background-color: #191919;
}

.social-icons a{
 width:40px;
 height:40px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color:#e6e3e3;
 margin:20px 10px;
 border-radius:50%;
}

.social-icons{
    display: flex;
}

.social-icons i,.social i{
 color:#000000;
}

.social-icons a:hover{
 background-color:#000000;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 transition:all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i{
 color:#ffffff;
 transition:all ease 0.5s;
}
 
.copyright{
 color:#ffffff;
 font-size: 15px;
 position: absolute;
 left:50%;
 bottom:10px;
 transform: translateX(-50%);
}
.social{
 position: fixed;
 top:50%;
 right:0px;
 transform:translateY(-50%);
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    margin:0px;
    padding: 0px;
    line-height:0px;
    background-color:#FFFFFF;
    border:1px solid #CBCBCB;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
   }
   
.social a:hover{
 background-color:#000000;
 transition:all ease 0.5s;
}

.social i{
 font-size:20px;
 color:#2B2B2B;
}

.logo{
 font-family:RoadTest;
 color:#000000;
 font-size:'22px';
 font-weight:bold;
}

body{
 background-color:#ffffff;
 margin:0px;
 padding:0px;
}
.textcontainer-h4{
    font-size: 150px;
    text-align: center;
}
.pe{
    font-size: 25px;
    text-align: justify;
    text-indent: 0.5in;
    margin-left: 120px;
    margin-right: 120px;
}
.gambarr{
    width: 70px;
    height: 70px;
    margin-right: 590px;
}
.tengah{
    text-align: center;
}